@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarSaidaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Requisição de Saída";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/saidas/visualizar">Visualizar Requisições</a>
}

<form action="/saidas/cadastrar" method="post">
    <label>Data da Requisição:</label>
    <input type="date" name="data" />

    <label for="PacienteId">Paciente da Requisição:</label>
    <select name="PacienteId" id="PacienteId">
        @foreach (var m in Model.PacientesDisponiveis)
        {
            <option value="@m.Id">@m.Nome</option>
        }
    </select>

    <label for="PrescricaoId">Prescrição da Requisição:</label>
    <select name="PrescricaoId" id="PrescricaoId">
        @foreach (var m in Model.PrescricoesDisponiveis)
        {
            <option value="@m.Id">@m.Nome</option>
        }
    </select>

    <label for="MedicamentoId">Medicamento da Prescrição:</label>
    <select name="MedicamentoId" id="MedicamentoId">
        @foreach (var m in Model.MedicamentosDisponiveis)
        {
            <option value="@m.Id">@m.Nome</option>
        }
    </select>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/saidas/visualizar">Voltar</a>
    </div>
</form>

