@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarPrescricaoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Prescrições";
}

@section Header {
    <a href="/prescricoes/cadastrar">Cadastrar Nova Prescrição</a>
}

@foreach (var p in Model.Registros)
{
    <div class="card">
        <h3><strong>CRM: </strong>@p.CRM</h3>

        <p><strong>Data: </strong>@p.Data.ToShortDateString();</p>
        <p><strong>Medicamento: </strong>@p.NomeMedicamento</p>
        <p><strong>Dosagem por Dia: </strong>@p.Dosagem</p>
        <p><strong>Período (Dias): </strong>@p.Periodo</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/prescricoes/excluir/@p.Id">Excluir</a>
        </div>
    </div>
}
